<h1>Real Time Products</h1>
<div class="container">
    <h2>Agregar Producto</h2>
    {{!-- Formulario para agregar un nuevo producto --}}
    <form  class="formAgregarProducto" onsubmit="createProduct(); return false;">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Title" required>

        <label for="description">Description</label>
        <input type="text" id="description" placeholder="Description" required>

        <label for="code">Code</label>
        <input type="text" id="code" placeholder="Code" required>

        <label for="price">Price</label>
        <input type="number" id="price" placeholder="Price" required>

        <label for="stock">Stock</label>
        <input type="number" id="stock" placeholder="Stock" required>

        <label for="category">Category</label>
        <input type="text" id="category" placeholder="Category" required>

        <button type="submit">Agregar</button>
    </form>

    {{!-- Lista de productos en formato card --}}
    <div class="product-list" id="productList">
        {{#each products}}
        <div class="product-card">
            <h3>{{this.title}}</h3>
            <p><strong>Description:</strong> {{this.description}}</p>
            <p><strong>Code:</strong> {{this.code}}</p>
            <p><strong>Price:</strong> {{this.price}}</p>
            <p><strong>Stock:</strong> {{this.stock}}</p>
            <p><strong>Category:</strong> {{this.category}}</p>
            <button onclick="deleteProduct({{this._id}})">Eliminar</button>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>